@font-face {
    font-family: Lexend Deca;
    src: url(font/font1.ttf);
}

@font-face {
    font-family: Big Shoulders Display;
    src: url(font/font2.ttf);
}

body {
    background-color: hsl(0, 0%, 95%);
}

img {
    margin: 15px;
    padding: 15px;
}

h2 {
    font-family: "Big Shoulders Display";
    font-weight: 700;
    font-size: 30px;
    margin: 20px;
    padding-left: 20px;;
    color: hsl(0, 0%, 95%);
}

p {
    font-family: "Lexend Deca";
    font-weight: 400;
    font-size: 15px;
    line-height: 200%;
    padding: 30px;
    color: hsla(0, 0%, 100%, 0.75);
}

.big-flex-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div {
    width: 20%;
    border-radius: 10px;
    display: inline-block;
}

#sedans {
    background-color: rgb(237, 137, 0);
}

#suvs {
    background-color: rgb(0, 108, 116);
}

#luxury {
    background-color: rgb(0, 67, 64);
}

button {
    background-color: hsl(0, 0%, 95%);
    border-color: transparent;
    border-radius: 30px;
    padding: 20px;
    margin: 40px;
}

#button-1 {
    color:rgb(237, 137, 0);
}

#button-2 {
    color:rgb(0, 108, 116);
}

#button-3 {
    color:rgb(0, 67, 64);
}

#button-1:hover {
    background-color: rgb(237, 137, 0);
    color: hsl(0, 0%, 95%);
    border-color: hsl(0, 0%, 95%);
    border-style: solid;
}

#button-2:hover {
    background-color:rgb(0, 108, 116);
    color: hsl(0, 0%, 95%);
    border-color: hsl(0, 0%, 95%);
    border-style: solid;
}

#button-3:hover {
    background-color:rgb(0, 67, 64);
    color: hsl(0, 0%, 95%);
    border-color: hsl(0, 0%, 95%);
    border-style: solid;
}

/* device responsive display to be implemented */